@media screen and (max-width: 662px) {
  body {
    width: 90%;
    margin: 50px auto;
  }
/* Navbar section start */

  .navbar-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .nav-items .item-1 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .nav-items .item-2 img {
    width: 100%;
  }

  .navbar-section {
    position: relative;
  }

  .item-3 {
    position: absolute;
    bottom: 83%;
    left: 90%;
  }

/* Navbar section end */

/* Intro section start */

  .intro-section{
    display: flex;
    flex-direction: column;
  }

  .intro-details-container{
    order: 2;
    width: 100%;
    text-align: center;
  }

  .intro-img-container{
    order: 1;
    width: 100%;
  }

  /* Intro section end */

   /* Partnership Section start  */

   .partnership-section{
    display: flex;
    flex-direction: column;
    width: 90%;
   }

   .upper-div-container{
    width: 100%;
    margin-bottom: 10px;
  }

  .lower-div-container{
    width: 80%;
  }

    /* Partnership Section end  */
}
