* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 90%;
  border: 2px dotted red;
  margin: 50px auto;
}

/* :root{
    --primary-color: red;
} */

header{
  border: 2px solid yellowgreen;  experiment
}

/* Navbar section start */

.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-title {
  width: 50%;
  color: #3a3a3a;
  font-size: 25px;
  font-weight: 700;
}

.nav-items {
  display: flex;
  align-items: center;
  width: 45%;
}

.nav-items .item-1{
  width: 90%;
  margin-right: 10px;
}

.nav-items .item-1 ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-items .item-1 ul a{
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

.nav-items  .item-2{
  width: 10%;
  text-align: center;
}

.nav-items  .item-2 img{
 width: 45%;
}

.item-3{
  width: 5%;
  text-align: center;
}

/* Navbar section end */

/* .nav-items > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
} */

/* .nav-items > ul > li > a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
} */


/* .navbar-section img {
  margin-right: 30px;
} */


/* .intro-details{
    width: 50%;
    margin-right: 50px;
} */

/* .intro-section{
    display: flex;
    align-items: center;
    margin: 50px 0 70px 0;
} */

/* .intro-title{
    color: #3a3a3a;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
} */

/* .intro-description{
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0;
} */

/* .intro-details button{
    background: #e02c6d;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
} */

/* .intro-img{
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    padding: 35px 0;
    margin-left: 35px;
    text-align: center;
} */


/* .partnership-section{
    border: 1px solid palegreen;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    background: #fff;
    border: 1px solid whitesmoke;
    border-right: none;
    border-left: none;
    box-shadow: 0.2px 0.2px 0.5px  white;
} */